*.iml
.gradle
/.idea/
/.idea/*.xml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/libjavaosc/*.iml
/libjavaosc/.gradle
/libjavaosc/local.properties
/libjavaosc/.idea/workspace.xml
/libjavaosc/.idea/libraries
/libjavaosc/.DS_Store
/libjavaosc/build
/libjavaosc/captures